@include exports('activities') {
  #activities {
    background-color: darken(#fff, 4%);

    .content {
      header {
        @include clearfix;
        border-bottom: 1px solid rgba(#000, .2);
        padding-bottom: .5em;

        h4 {
          @include adjust-font-size-to(ms(1));
        }

        .icon {
          @include adjust-font-size-to(ms(3), 1);
        }

        h4 {
          float: left;
          margin: 0;
        }

        .icon {
          float: right;
        }
      }

      li:not(:last-child) {
        margin-bottom: 2em;
      }

      .description {
        margin-top: .5em;

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
