@include exports('help') {
  #help {
    font-family: 'Oxygen';

    ul {
      padding: 2em 0;
      @include clearfix;
    }

    li {
      @include span(3);
      text-align: center;

      &:last-child {
        @include last;
      }

      a {
        color: #666;
      }

      span {
        display: block;
      }

      .icon {
        @include adjust-font-size-to(ms(12));
        @include single-transition(color, .2s, ease-in-out);
        color: #ADA8AA;
      }

      .name {
        @include adjust-font-size-to(ms(2));
        // font-weight: bold;
      }

      &:hover {
        .icon {
          color: #242424;
        }
      }
    }
  }
}
