@include exports('lab') {
    #lab {
        .button {
            display: block;
            text-align: center;
            background-color: #222;
            color: #fff;
            border-radius: 3px;
            border: 1px solid #222;
            margin-top: 1em;
            @include adjust-font-size-to(ms(0), 1.4);

            span:before {
                content: "";
                border-right: 1px solid darken(#fff, 20%);
                margin: 0 .5em 0 .25em;
                height: 10px;
            }

            &:hover {
                color: #222;
                background-color: #fff;

                span:before {
                    border-color: lighten(#222, 20%);
                }
            }
        }

        li {
            background-color: rgba(#000, .8);
            border-radius: 3px;
            padding: 1em;
            margin-bottom: 1em;

            a {
                color: #fff;
            }

            header {
                text-align: center;
                margin-bottom: .5em;
            }

            h4 {
                @include adjust-font-size-to(ms(1));
            }

            .icon {
                @include adjust-font-size-to(ms(5));
            }

            .description {
                margin-bottom: 0;
                color: darken(#fff, 25%);
            }
        }
    }

  @include media($medium-screen-up) {
    #lab .content {
        @include container;
    }

    #lab .content li {
        @include span(1 of 3);

        &:last-child {
            @include last;
        }
    }
  }
}
