$header-font-size: ms(4);
$header-line-height: 1.5;

@include exports('section') {
  section {
    padding: 2em;
    background-color: #fff;

    .container > header {
      margin: 0 0 3em;
    }

    header h3 {
      font-family: 'Ubuntu', sans-serif;
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
      margin: 0 0 2em;

      span {
        @include adjust-font-size-to($header-font-size, $header-line-height);
        color: lighten(#000, 60%);
        position: relative;

        em {
          font-style: normal;
          color: #222;
        }
      }

      span:after {
        content: '';
        position: absolute;
        width: 60px;
        border-bottom: 2px solid #222;
        left: 0;
        top: $header-line-height * $base-line-height - 7px;
      }
    }
  }

    @include susy-media($medium-screen) {
        section .container > header p {
            text-align: center;
        }
    }
}
