@include exports('team') {
  #team {
    font-family: 'Oxygen';

    @include clearfix;
    background-color: #f7f7f7;

    .columns {
      @include clearfix;
      margin: 2em 0;
    }

    .columns div {
      width: 50%;
      float: left;
      margin-bottom: 2em;
    }

    .columns div:first-child {
      border-right: 1px solid rgba(#000, .25);
    }

    & > p {
      margin-bottom: 3em;
      margin-top: 2em;
    }

    p {
      text-align: center;
    }
    //
    // .links p {
    //   margin: 0;
    // }

    .subscribe {
      @include container(65%);
      margin: 0 auto 2em;
      div {
        padding-right: 135px;
        position: relative;
      }

      input[type="text"] {
        height: 30px;
      }

      a {
        position: absolute;
        right: 0;
        top: 0;
        color: #242424;
        border: 2px solid #242424;
        border-radius: 5px;
        height: 30px;
        line-height: 0;
        padding: .3em .8em;

        i {
          border-right: 1px solid rgba(#f7f7f7, .7);
          margin-right: .5em;
          padding-right: 1em;
        }

        &:hover {
          color: #f7f7f7;
          background-color: #242424;
        }
      }
    }

    .social {
      @include adjust-font-size-to(ms(10));

      p {
        margin: 0;
      }

      a {
        margin: 0 .25em;
        color: #242424;

        &:hover {
          color: #ADA8AA;
        }
      }
    }

    input[type="button"] {
      color: $base-color;
      border-color: $base-color;
      height: 30px;
    }
  }
}
