@include exports('tools') {
  $darken: rgba(#000, .6);
  $gradient: linear-gradient($darken, $darken);

    #tools {
        color: #fff;
        // @include background(url('../images/pattern.png'));
        position: relative;
        z-index: 0;
        // background-color: transparent;
        overflow: hidden;
        padding: 0;

        header h3 span {
            color: #999;

            em {
                color: #f38632;
            }
        }

        header h3 span:after {
            border-color: #fff;
        }

        & > .background {
          background-image: url('../images/tools.jpg');
          background-size: cover;
          position: absolute;
          top: -25%;
          // bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          z-index: -2;
        }

        .overlay {
          width: 100%;
          height: 100%;
          background-color: rgba(#000, .6);
          padding: 2em 0 2em 0;
          background-image: url('../images/pattern.png');
          position: relative;
          z-index: 0;
        }

        .container {
          overflow: visible; // for the animation
        }

        li {
            display: table;
            margin-bottom: 1em;
            @include transition(all, .3s, ease-in-out);
        }

        li:nth-child(2n) {
          transform: translateX(-100px);
          opacity: 0;
        }

        li:nth-child(2n+1) {
          transform: translateX(100px);
          opacity: 0;
        }

        &.visible li {
          transform: translateX(0);
          opacity: 1;
        }

        .icon {
            display: table-cell;
            vertical-align: middle;
            @include adjust-font-size-to(ms(5));
            width: 36px;
        }

        .description {
            display: table-cell;
            vertical-align: middle;
            padding-left: 1em;

            h4 {
                margin-bottom: .25em;
                @include adjust-font-size-to(ms(1.5));
            }

            p {
                font-style: italic;
                color: #b3b3b3;
                @include adjust-font-size-to(ms(-0.2));
            }
        }

        li:hover {
          .icon {
            color: #b3b3b3;
          }

          .description {
            p {
              color: #fff;
            }

            h4 {
              color: #b3b3b3;
            }
          }
        }

        .row {
          @include clearfix;
        }
    }
  @include susy-media($medium-screen) {
    #tools .content {
        @include container;
    }

    #tools .content li {
        @include span(1 of 2);
        margin-bottom: 4em;

        &:nth-child(2n+1) {
            @include last;
        }
    }
  }

  @include susy-media($large-screen) {
    #tools .content li:nth-child(2n) {
      @include span(isolate 4 of 12 at 2);
    }

    #tools .content li:nth-child(2n+1) {
      @include span(isolate 4 of 12 at 8);
    }
  }
}
