@include exports('tools') {
  #tools {
    font-family: 'Oxygen';

    padding: 0;
    overflow: hidden;
    color: #fff;
    position: relative;
    overflow: hidden;

    & > .background {
      background-image: url('../images/tools.jpg');
      background-size: cover;
      position: absolute;
      top: -25%;
      // bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      z-index: -1;
    }

    div.overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(#000, .6);
      padding: 0 1em;
      background-image: url('../images/pattern.png');
      position: relative;
      z-index: 0;
    }

    h3 {
      padding-top: 1em;
      margin-top: 0;
      margin-bottom: 2em;
      color: darlen(#fff, 30%);

      .color {
        color: #fff;
      }

      .line > div {
        border-color: #fff;
      }
    }

    div.row {
      @include clearfix;
      @include container;
    }

    h4 {
      @include adjust-font-size-to(ms(2), 1.5);
      margin: 0;
    }

    div li:nth-child(1) {
      @include span(isolate 4 at 2 of 12);
    }

    div.row {
      margin-bottom: 4em;
    }

    div li:nth-child(2) {
      @include span(isolate 4 at 8 of 12);
    }

    li {
      @include transition(all, .3s, ease-in-out);
    }

    li:nth-child(1) {
      transform: translateX(-100px);
      opacity: 0;
    }

    li:nth-child(2) {
      transform: translateX(100px);
      opacity: 0;
    }

    &.visible li {
      transform: translateX(0);
      opacity: 1;
    }

    li {
      display: table;

      div {
        display: table-cell;
        vertical-align: middle;
      }

      .icon {
        @include adjust-font-size-to(ms(8));
        width: 50px;
      }

      .content {
        padding: 0 1em;
      }

      .content p {
        font-style: italic;
      }

      .content {
        color: darken(#fff, 30%);
      }

      h4 {
        color: #fff;
      }

      &:hover {
        .content {
          color: #fff;
        }

        h4, .icon {
          color: darken(#fff, 30%);
        }
      }
    }

    .overlay > p {
      padding: 0 0 2em 0;
      margin: 0;
      @include adjust-font-size-to(ms(1));
      text-align: center;
    }
  }
}
