@include exports('we-follow') {
  #we-follow {
    li:not(:last-child) {
      margin-bottom: 2em;
    }

    h4 {
      text-align: center;
      @include adjust-font-size-to(ms(1.5));
      margin: 1em 0 0;
      font-weight: normal;
    }

    .icon {
      @include adjust-font-size-to(ms(8));
      text-align: center;
    }

    a {
        color: lighten(#000, 50%);

        &:hover {
/*            div.icon { */
             color: #4962AD;
/*            }*/
        }
    }
  }

  @include susy-media($medium-screen) {
    #we-follow .content {
        @include container;
    }

    #we-follow .content li {
        @include span(1 of 4);
        margin-bottom: 0;

        &:last-child {
            @include last;
        }
    }
  }
}
