@include exports('who-are-we') {
  #who-are-we {
    text-align: center;
  }

  @include susy-media($medium-screen) {
    #who-are-we .content {
      @include container;
      display: table;

      .description, .mockup {
        display: table-cell;
        vertical-align: middle;
      }

      .description {
        width: 60%;
      }

      .mockup {
        width: 40%;
      }
    }
    //
    // #who-are-we .content div {
    //   @include span(1 of 2);
    //
    //   &:last-child {
    //     @include last;
    //   }
    // }
  }
}
