footer#footer
  .container(lang="fr")
    .copyright
      p &copy; Quorum 2015
    .social-links
      ul
        li
          a(href='//facebook.com/pages/Quorum/691793700953234')
            i.icon-facebook
        li
          a(href='//twitter.com/quorumapps')
            i.icon-twitter
        li
          a(href='//www.linkedin.com/company/10114882')
            i.icon-linkedin
        li
          a(href='//google.com/+Quorumappsdata')
            i.icon-google
    .pages
      ul
        li
          a(href='mailto:info@quorumapps.com') Tarifs
        li
          a(href='/mentions-legales.pdf') CGU
  .container(lang="en")
    .copyright
      p &copy; Quorum 2015
    .social-links
      ul
        li
          a(href='//facebook.com/pages/Quorum/691793700953234')
            i.icon-facebook
        li
          a(href='//twitter.com/quorumapps')
            i.icon-twitter
        li
          a(href='//www.linkedin.com/company/10114882')
            i.icon-linkedin
        li
          a(href='//google.com/+Quorumappsdata')
            i.icon-google
    .pages
      ul
        li
          a(href='mailto:info@quorumapps.com') Pricing
        li
          a(href='/mentions-legales.pdf') Legal