footer#footer
  .container(lang="fr")
    .copyright
      span &copy; Quorum 2015
    .social-links
      ul
        li
          a(href='//facebook.com/quorumimpact' target="_blank")
            i.icon-facebook
        li
          a(href='//twitter.com/quorumimpact' target="_blank")
            i.icon-twitter
        li
          a(href='//www.linkedin.com/company/10114882' target="_blank")
            i.icon-linkedin
        li
          a(href='//google.com/+Quorumappsdata' target="_blank")
            i.icon-google
    .pages
      ul
        li
          a(href='/contact.html') Contact
        li
          a(href='/contact.html') Tarifs
        li
          a(href='/legals.html') CGU
  .container(lang="en")
    .copyright
      p &copy; Quorum 2015
    .social-links
      ul
        li
          a(href='//facebook.com/pages/Quorum/691793700953234' target="_blank")
            i.icon-facebook
        li
          a(href='//twitter.com/quorumapps' target="_blank")
            i.icon-twitter
        li
          a(href='//www.linkedin.com/company/10114882' target="_blank")
            i.icon-linkedin
        li
          a(href='//google.com/+Quorumappsdata' target="_blank")
            i.icon-google
    .pages
      ul
        li
          a(href='/contact.html') Contact
        li
          a(href='/contact.html') Pricing
        li
          a(href='/legals.html') Legal