nav#nav
  .container
    h1.nav-brand
      a(href='/')
        img(src='images/quorum-logo.png' alt='Quorum')
    .nav-toggle
      a(href='#')
        i.fa.fa-fw.fa-bars
    .nav-links
      ul.main-links
        li
          a(href='/' lang="fr") Accueil
          a(href='/' lang="en") Home
        li
          a(href='/approach.html' lang="fr") Notre démarche
          a(href='/approach.html' lang="en") Our approach
        li
          a(href='/labs.html' lang="fr") Labs
          a(href='/labs.html' lang="en") Labs
        li
          a(href='/team.html' lang="fr") Équipe
          a(href='/team.html' lang="en") Team
        li
          a(href='//blog.quorumapps.com') Blog
        li
          a(href='/contact.html' lang="fr") Contact
          a(href='/contact.html' lang="en") Contact
      ul.lang
        li
          a(href="#" onClick="document.body.className='en'; event.preventDefault();" lang='fr')
            img(src='images/english.jpg' alt='English')
        li
          a(href="#" onClick="document.body.className='fr'; event.preventDefault();" lang='en')
            img(src='images/french.jpg' alt='Français')