@include exports('mission') {
  #mission {
    background-color: #fbfbfb;
  }

  #mission .content {

    p, ul {
      font-family: $font-quote;
      font-size: 1.25em;
      line-height: 1.5em;
      margin-bottom: 1.5em;
    }

    ul {
      list-style: inside;
      margin-left: 1.5em;
    }
  }

  @include susy-media($medium-screen) {
    #mission .content {
      max-width: 600px;
      margin: 0 auto;
    }

    #mission .content p {
      font-size: 1.25em;
      line-height: 1.5em;
      margin-bottom: 1.5em;
    }
  }
}
