@include exports('footer') {
    #footer {
        padding: 1em;
        color: #fff;
        background-color: #222;
        position: relative;

        h3 {
            text-align: center;

            img {
                max-width: 200px;
            }
        }

        .ask-study input {
            width: 100%;
            border: 1px solid #fff;
            background-color: transparent;
            margin-bottom: 1em;
            &:hover {
                background-color: rgba(#fff, .2);
            }
        }

        & .container > div:not(:last-child) {
            margin-bottom: 2em;
        }

        a {
            color: darken(#fff, 40%);

            &:hover {
                color: #fff;
            }
        }

        h3 {
            @include adjust-font-size-to(ms(1));
        }

        .general, .sitemap, .find-us {
          @include adjust-font-size-to(ms(-1));
        }

        .addresses li:not(:last-child) {
            position: relative;
            margin-bottom: .5em;
            padding-bottom: .5em;

            &:after {
                display: block;
                content: "";
                border-bottom: 1px solid darken(#fff, 25%);
                width: 3em;
                position: absolute;
                bottom: 0;
            }
        }

        input {
          font-weight: normal;
          font-size: 1em;
        }

        canvas {
          @include position(absolute, 0 0 0 0);
        }

        .container {
          position: relative;
          z-index: 1;
        }
    }

    @include susy-media($medium-screen) {
        #footer {
            @include container;
        }

        #footer {
          .general {
            @include span(isolate 5 of 12 at 1 of 12);
          }

          .sitemap {
            @include span(isolate 3 of 12 at 6 of 12);

            h3 {
              margin-bottom: 2.6em;
            }
          }

          .find-us {
            @include span(isolate 5 of 12 at 8 of 12 last);

            h3 {
              margin-bottom: 2.6em;
            }
          }
        }

        #footer h3 {
            text-align: left;
        }

        #footer .container > div:not(:last-child) {
            margin-bottom: 0;
        }
    }
}
