@include exports('footer') {
  #footer {
    padding: 2em;
    color: #fff;
    background-color: #312f38;;
    position: relative;

    /*&::before {
      content: "";
      background-image: url('../images/Bottom_Header3.jpg');
      background-position: bottom center;
      background-repeat: no-repeat;
      opacity: 0.8;
      top: -180px;
      left: 0;
      bottom: 93px;
      right: 0;
      position: absolute;
      z-index: 1;
    }*/

    .container {
      position: relative;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-grow: 1;
      align-items: center;
      z-index: 1;
    }

    a {
      color: darken(#fff, 40%);

      &:hover {
        color: #fff;
      }
    }

    ul {
      li {
        display: inline-block;
        line-height: 25px;
        margin: 0 10px;
      }
    }

    .social-links {
      margin-left: 20px;

      i {
        position: relative;
        top: -2px;
        font-size: 1.5em;
      }
    }

    .pages {
      position: absolute;
      right: 0;
    }
  }

  @include susy-media($medium-screen) {
    #footer {
      @include container;
    }
  }

  @include susy-media($medium-screen) {
    #footer {
      @include container;
    }
  }
}