@include exports('header') {
  #home {
    padding-top: $nav-height * $base-line-height;
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-position: center center;
    padding: 1em;

    li {
      font-family: 'Raleway', sans-serif;
      @include adjust-font-size-to(ms(2), 1.5);
      font-weight: 800;
      color: rgba(#fff, .7);

      em {
        color: #fff;
        font-style: normal;
      }
    }
  }

  @include susy-media($medium-screen) {
    #home {
        height: 100vh;
    }
  }
}
