@include exports('header') {
  #home {
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-position: center center;
    padding: 1em;
    padding-top: ($nav-height + 0.5) * $base-line-height;
    box-sizing: border-box;

    li {
      font-family: 'Raleway', sans-serif;
      @include adjust-font-size-to(ms(5), 1.5);
      font-weight: 800;
      color: rgba(#fff, .6);
      text-transform: uppercase;

      em {
        color: #fff;
        font-style: normal;
      }
    }
  }

  .container {
    overflow: hidden;
  }

  #slide {
    position: relative;
  }

  @include susy-media($medium-screen) {
    #home {
        height: 100vh;
        padding-top: ($nav-height + 1.5) * $base-line-height;

        li {
          @include adjust-font-size-to(ms(8), 2.2);
        }
    }
  }
}
