$nav-height: 2;
$nav-border-color: rgba(#000, .2);

@include exports('nav') {
  #nav {
    @include position(fixed, 0 0 auto 0);
    @include clearfix;
    background-color: #f5f5f5;
    z-index: 5;
    padding: 0 1em;
    // height: 2*$base-line-height;

    &.scrolled {
      background-color: rgba(darken(#fff, 4%), .85);
    }

    h1 {
      @include adjust-font-size-to(ms(0), 2);
      height: 100%;

      a {
        display: inline-block;
        vertical-align: middle;
      }
    }

    a {
      color: lighten(#000, 50%);

      &:hover,
      &.active {
        color: #222;
      }
    }
  }

  .nav-brand {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }

  .nav-toggle {
    float: right;
  }

  .nav-links {
    display: none;
  }

  #nav.show-menu {
    background-color: rgba(darken(#fff, 4%), .85);
 
    .social-links {
      li {
        display: inline-block;
        vertical-align: top;
      }

      li:not(:last-child) {
        padding: 0 1em 0 0;
      }
    }

    .nav-links {
      display: block;

      a {
        @include adjust-font-size-to(ms(1), 1.5);
      }

      .fa {
        position: relative;
        top: -1px;
      }
    }
  }

  .nav-brand a,
  .nav-toggle a {
    @include adjust-font-size-to(ms(0), $nav-height);
  }

  .nav-brand img {
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    float: left;
  }

  @include susy-media($medium-screen) {
    #nav {
      .nav-links {
        display: block;
        // height: 2*$base-line-height;
        float: right;
      }

      .main-links,
      .social-links,
      .main-links li,
      .social-links li {
        height: 2*$base-line-height;
        display: inline-block;
        vertical-align: top;
      }

      .main-links {
        li {
          margin-left: 1em;
        }
      }

      .social-links {
        margin-left: 1em;

        a {
          @include adjust-font-size-to(ms(1.7), 2);
          display: inline-block;
          height: 2*$base-line-height;
          vertical-align: top;
        }

        li {
          margin-left: 1em;

          i[class^='icon-'] {
            position: relative;
            top: 1px;
          }

          &:nth-child(3):after {
            content: "";
            border-right: 1px solid rgba(lighten(#000, 50%), .75);
            padding-left: 1em;
          }
        }
      }

      .main-links li,
      .social-links li {
        height: 2*$base-line-height;
        line-height: 2*$base-line-height;
      }

      .nav-toggle {
        display: none;
      }
    }
  }
}
