$nav-height: 2;
$nav-border-color: rgba(#000, .2);
$nav-scrolled: #fff;
$font-scrolled: #222;

@include exports('nav') {
  #nav {
    @include position(fixed, 0 0 auto 0);
    @include clearfix;
    background-color: #fff;
    z-index: 100;
    padding: 0 1em;
    height: 3*$base-line-height;
    line-height: 3*$base-line-height;

    -webkit-box-shadow: 0px -1px 5px 2px rgba(168,168,168,1);
    -moz-box-shadow: 0px -1px 5px 2px rgba(168,168,168,1);
    box-shadow: 0px -1px 5px 2px rgba(168,168,168,1);

    &.scrolled {
      background-color: $nav-scrolled;
      a{
        color: $font-scrolled;
      }
    }

    h1 {
      @include adjust-font-size-to(ms(0), 2);
      height: 100%;

      a {
        display: inline-block;
        vertical-align: middle;
      }
    }

    a {
      font-family: 'Ubuntu';
      text-transform: uppercase;
      color: #222;
      //color: lighten(#000, 50%);
/*      text-transform: uppercase;*/

      &:hover {
        color: #a1a4a7;
      }
    }
  }

  .nav-brand {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }

  .nav-toggle {
    float: right;
  }

  .nav-links {
    display: none;
  }

  #nav.show-menu {
    background-color: rgba(darken(#fff, 4%), .85);

    .social-links {
      li {
        display: inline-block;
        vertical-align: top;
      }

      li:not(:nth-child(5)):not(:last-child) {
        padding: 0 1em 0 0;
      }
    }

    .nav-links {
      display: block;
      line-height: 3*$base-line-height;

      img {
        position: relative;
      }

      a {
        @include adjust-font-size-to(ms(1), 1.5);
      }

      .fa {
        position: relative;
        top: -1px;
      }
    }
  }

  .nav-brand a,
  .nav-toggle a {
    @include adjust-font-size-to(ms(0), $nav-height);
  }

  .nav-brand img {
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    float: left;
  }

  @include susy-media($medium-screen) {
    #nav {
      .nav-links {
        display: block;
        // height: 2*$base-line-height;
        float: right;
      }

      .main-links,
      .social-links,
      .main-links li,
      .social-links li {
        height: 3*$base-line-height;
        display: inline-block;
        vertical-align: top;
      }

      i.lang {
        font-style: initial;
      }

      .main-links {
        font-size: 1.2em;
        li {
          margin-left: 2em;
        }
      }

      .social-links {
        font-size: 1.2em;
        margin-left: 2em;;

        a {
          @include adjust-font-size-to(ms(1.7), 2);
          display: inline-block;
          height: 3*$base-line-height;
          line-height: 3*$base-line-height;
        }

        li {
          margin-left: 1em;

          &:nth-child(6) {
            margin-left: 0;
          }

          i[class^='icon-'] {
            position: relative;
            top: -3px;
          }

          i {
            position: relative;
            top: -5px;
          }

          img {
            position: relative;
            top: 5px;
            border-radius: 50%;
            width: 25px;
            height: 25px;
          }

          &:nth-child(3):after {
            content: "";
            border-right: 1px solid rgba(lighten(#000, 50%), .75);
            padding-left: 1em;
          }
          &:nth-child(4):after {
            content: "";
            border-right: 1px solid rgba(lighten(#000, 50%), .75);
            padding-left: 1em;
          }

        }
      }

      .main-links li,
      .social-links li {
        height: 3*$base-line-height;
        line-height: 3*$base-line-height;
      }

      .nav-toggle {
        display: none;
      }
    }
  }
}
