doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Approach - Quorum
    meta(name='description' content='Quorum')
    meta(name='keywords' content='quorum')
    meta(name='author' content='Douézan-Grard Guillaume - Quorum')
    link(rel="icon", type="image/png", href="images/icons/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="images/icons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="images/icons/favicon-16x16.png", sizes="16x16")
    link(rel='stylesheet' href='stylesheets/app.css')
  body.fr
    include includes/nav.jade
    header#page
      .container(lang="fr")
        ul
          li Because Smart Data is even better than Big Data
          hr
        .quote
          p Nous sommes une équipe de passionnés, de créatifs et de scientifiques qui  utilisent  le progrès pour créer de belles interfaces qui simplifient et optimisent les actions de ceux qui veulent apporter du changement.
      .container(lang="en")
        ul
          li Because Smart Data is even better than Big Data
          hr
        .quote
          p We build data driven web and mobile apps and find new ways to solve problems.
    main
      section#skills
        .container(lang="fr")
          header
            h3
              span Compétences
              hr
          ul.content
            li.skill.skill-1
              .front
                h2 Data & Analytics
                img(src='images/icons/data.png' alt='Icon Data')
              .back
                ul.details
                  li Intelligence territorial
                  li Cartographie et constitution d’un patrimoine numérique
                  li Acquisition de données
                  li Remonter d’informations online et offline
            li.skill.skill-2
              .front
                h2 Prédictif & Logistique
                img(src='images/icons/predictive.png' alt='Icon Data')
              .back
                ul.details
                  li Quants et Algorithmes
                  li Où agir ? Où concentrer mes forces ?
            li.skill.skill-3
              .front
                h2 Communication
                img(src='images/icons/communication.png' alt='Icon Data')
              .back
                ul.details
                  li Gestion de la proximité et gestion de contacts intelligente
                  li Rencontrer les individus là où ils se trouvent
                  li Délivrer le message au bon moment
            li.skill
              .skill-description
                h2 Pilotage
                img(src='images/icons/digital.png' alt='Icon Data')
              ul.details
                li Applications web et mobiles intuitives
                li Live Tracking et mesure d’impact de son action
        .container(lang="en")
          header
            h3
              span What we do
              hr
          ul.content
            li.skill
              .front
                h2 Data & Analytics
                img(src='images/icons/data.svg' alt='Icon Data')
              .back
                ul.details
                  li Make territoritories and Data speak.
                  li Visualize key characteristics
                  li Public sentiment Measurment
            li.skill
              .front
                h2 Predictive & Logistic
              .back
                ul.details
                  li Quants & Algortihms
                  li Identify swing zones
                  li Connect people with the right information and tools
            li.skill
              .front
                h2 Communication
              .back
                ul.details
                  li Relationship Management
                  li Keep a record of every online and offline interaction with your contact base, to manage and qualify it
                  li Develop a long-term relationship of trust with people
            li.skill
              h2 Digital
              ul
                li Digitally sophisticated platforms
                li Drive your actions both online and offline
                li Live Tracking : Monitor Progress
                li Motivate the team
      section#approach
        .container(lang="fr")
          header
            h3
              span Notre démarche
              hr
          .content
            .mockup
            .approach-items
              ul
                li
                  span.number 1
                  p Prendre la mesure de l’opportunité donnée par l’Open Data et  de la quantité de données qu’un mouvement, une ONG , qu’une campagne ou une administration produit elle même dans leurs actions online et sur le terrain.
                li
                  span.number 2
                  p Comprendre qu’aujourd’hui cette donnée peut être utilisée. La Donnée en elle même est un enregistrement d’une information. Mais cette information il faut l’analyser et un tirer de l’intelligence.
                li
                  span.number 3
                  p Parce que ces données intelligentes peuvent aider à comprendre quels phénomènes se produisent et ainsi améliorer la société et  l’impact de son action.
      section#cta.page
        .container(lang="fr")
          .content
            a.cta(href='/offer.html')
              span Demander une étude personnalisée
        .container(lang="en")
          .content
            a.cta(href='/offer.html')
              span Get a free quote
    include includes/footer.jade
    include includes/js.jade