doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Quorum
    meta(name='description' content='Quorum')
    meta(name='keywords' content='quorum')
    meta(name='author' content='Douézan-Grard Guillaume - Quorum')
    link(rel="icon", type="image/png", href="images/icons/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="images/icons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="images/icons/favicon-16x16.png", sizes="16x16")
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700')
    link(rel='stylesheet' href='stylesheets/app.css')
  body.fr
    nav#nav
      .container
        h1.nav-brand
          a(href='/')
            img(src='images/quorum-logo.png' alt='Quorum')
        .nav-toggle
          a(href='#')
            i.fa.fa-fw.fa-bars
        .nav-links
          ul.main-links
            li
              a(href='/company.html' lang="fr") Offre
              a(href='/company.html' lang="en") What we do
            li
              a(href='/labs.html' lang="fr") Labs
              a(href='/labs.html' lang="en") Labs
            li
              a(href='/team.html' lang="fr") Équipe
              a(href='/team.html' lang="en") Team
            li
              a(href='//blog.quorumapps.com') Blog
          ul.social-links
            li
              a(href="#" onClick="document.body.className='en'; event.preventDefault();" lang='fr')
                //-i.lang en
                img(src='images/english.jpg' alt='English')
            li
              a(href="#" onClick="document.body.className='fr'; event.preventDefault();" lang='en')
                //-i.lang fr
                img(src='images/french.jpg' alt='Français')
    header#home
      .container(lang="fr")
        ul
          li We use #[em data & technology] to make #[em big ideas happen].
      .container(lang="en")
        ul
          li We use #[em data & technology] to make #[em big ideas happen].
      ul
        li.arrow
          a(href='#who-are-we')
            img(src='images/arrow.png')
    main
      section#mission
        .container(lang="fr")
          header
            h3
              span Notre #[em mission]
              hr
          .content
            p Les nouvelles technologies, l'Open Data, le Big Data, ses algotithmes et ses quants ont envahi le secteur marchant, de la finance, de la logistique. Nous pensons que la Data Intelligence peut aussi servir à l'action civique - l'action d'une ONG, d'une collectivité, d'un mouvement, ou d'une campagne électorale.
            p Nous avons créé Quorum; des interfaces web et mobiles, qui utilisent le pouvoir analytique et logistique des Nouvelles Technologies, et les rendent disponibles à des objectifs civiques et des applications concretes.
            ul
              li Cartographie décisionnelle, mesure d'impact, live tracking
              li Applications web et mobiles d'acquisition de données
              li Valorisation de la donnée disponible (Open Data)
              li Data prédictive et logistique
            p Nous pensons que la technologie peut augmenter les capacités d'une organisation et des individus pour qu'ils se focalisent sur l'essentiel : leurs idées et leurs actions.
        .container(lang="en")
          header
            h3
              span Our #[em mission]
              hr
            p build web and mobile apps and provide technology to help our clients build meaningful, people- centered, and data driven actions, that achieve their strategic goals and make a change.
            p We rely on data to drive decisions and constantly look for new ways to solve problems.
            p We design our apps based on the latest research in political and Data Science and the opportunities offered by Open Data, Big Data, and new technologies.
            p Smart campaigns, smart actions and causes will be the ones who embrace new technology, make it a priority to stay ahead of the curve.
          .content
            .description
              p We rely on data to drive decisions and constantly look for new ways to #[strong solve problems].
              p We design our apps based on the latest research in politial and Data Science and the opportunities offered by Open Data, Big Data, and new technologies.
              p Smart #[strong campaigns], smart #[strong actions] and #[strong causes] will be the ones who embrace new technology, make it a priority to stay ahead of the curve.
              p
            .mockup
              img(src='images/mockup.png' alt='Product mockup')

      section#we-follow
        .container(lang="fr")
          header
            h3
              span Nous #[em accompagnons]
              hr
          ul.content
            li
              a(href='mailto:info@quorumapps.com')
                .icon
                  i.icon-town
                h4 Collectivités territoriales
            li
              a(href='mailto:info@quorumapps.com')
                .icon
                  i.icon-society
                h4 ONG &amp; Associations
            li
              a(href='mailto:info@quorumapps.com')
                .icon
                  i.icon-vote
                h4 Candidats aux élections
            li
              a(href='mailto:info@quorumapps.com')
                .icon
                  i.icon-megaphone
                h4 Leaders d'influence
        .container(lang="en")
          header
            h3
              span Our #[em clients]
              hr
          ul.content
            li
              a(href='mailto:info@quorumapps.com')
                .icon
                  i.icon-town
                h4 Public Administration
            li
              a(href='mailto:info@quorumapps.com')
                .icon
                  i.icon-society
                h4 Nonprofits
            li
              a(href='mailto:info@quorumapps.com')
                .icon
                  i.icon-vote
                h4 Politics & Campaigners
            li
              a(href='mailto:info@quorumapps.com')
                .icon
                  i.icon-megaphone
                h4 Advocacy

      section#team
        .container(lang="fr")
          header
            h3
              span Découvrez nos offres
              hr
        .container(lang="en")
          header
            h3
              span Know more
              hr
          .content
            .contact
              h4 We'd like to hear from you ! Get in touch
              p
                a(href='mailto:info@quorumapps.com')
                  i.fa.fa-fw.fa-envelope-o
            .social
              h4 Follow us
              p
                a(href='//facebook.com/pages/Quorum/691793700953234')
                  i.icon-facebook
                a(href='//twitter.com/quorumapps')
                  i.icon-twitter
                a(href='//www.linkedin.com/company/10114882')
                  i.icon-linkedin
                a(href='//google.com/+Quorumappsdata')
                  i.icon-google
          .subscribe
            h4 Get updates :
            .form
              .form-submit
                a.button(href='#')
                  i.fa.fa-fw.fa-pencil
                  span Subscribe
              .form-input
                input(type='text' placeholder='Email')
    footer#footer
      .container(lang="fr")
        .copyright
          p &copy; Quorum 2015
        .pages
          h3 Plan du site
          ul
            li
              a(href='/mentions-legales.pdf' target='_blank') Mentions légales
            li
              a(href='https://blog.quorumapps.com/logo/') Notre logo
            li
              a(href='#home') Accueil
          .social-links
            h3 Plan du site
            ul
              li
                a(href='/mentions-legales.pdf' target='_blank') Mentions légales
              li
                a(href='https://blog.quorumapps.com/logo/') Notre logo
              li
                a(href='#home') Accueil
      .container(lang="en")
        .copyright
          p &copy; Quorum 2015
        .pages
          h3 Plan du site
          ul
            li
              a(href='/mentions-legales.pdf' target='_blank') Mentions légales
            li
              a(href='https://blog.quorumapps.com/logo/') Notre logo
            li
              a(href='#home') Accueil
          .social-links
            h3 Plan du site
            ul
              li
                a(href='/mentions-legales.pdf' target='_blank') Mentions légales
              li
                a(href='https://blog.quorumapps.com/logo/') Notre logo
              li
                a(href='#home') Accueil
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='javascripts/TweenMax.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js')
    script(src='javascripts/plugins/animation.gsap.js')
    script(src="javascripts/typed.js")
    script(src='javascripts/particles.min.js')
    script(src='javascripts/app.js')