doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width' initial-scale=1)
    title Quorum
    meta(name='description' content='sample app')
    meta(name='keywords' content='sample')
    meta(name='author' content='sample')
    link(rel='stylesheet' href='stylesheets/app.css')
  body
    header#home
      div.wrap
        .darken
        .navbar
          .navbar-brand
            h1
              a(href='#' style="dispaly: inline-block;vertical-align: top;height: 100%;")
                img(src="images/quorum2.png" height='35px' style="display: inline-block; vertical-align: middle; margin-top: -5px;")
          nav
            ul
              .nav
                li
                  a(href='#' class='orange') Accueil
                li
                  a(href='#approach' class='purple') Activités
                li
                  a(href='#lab' class='fushia') Lab
                li
                  a(href='#team' class='blue') Équipe
                li
                  a(href='#' class='green') Blog
              .links
                li
                  a(href='#')
                    i.flaticon-facebook51
                li
                  a(href='#')
                    i.flaticon-twitter44
                li
                  a(href='#')
                    i.flaticon-social123
                li
                  .sep
                li
                  a(href='#')
                    i.fa.fa-fw.fa-envelope-o
        .summary
          ul
            li
              p#slide
                span <em>Optimiser</em> les politiques publiques
                span <em>Amplifier</em> son action
                span <em>Dynamiser</em> son mouvement
                span <em>Gagner</em> du terrain
                //- span <em>Agir</em> différemment
                span Avec <em>Quorum</em>
            //- li avec Quorum
          //- .subscribe
          //-   div
          //-     input(type='text' placeholder='Tenez-vous informé')
          //-     input(type='button' value="S'inscrire")
    section#approach
      h3
        span.line
          span Qui  
          span.color sommes-nous ?
          div
      p Nous développons des <strong>solutions technologiques</strong> pour aider nos partenaires à mener des actions <strong>innovantes</strong>, <strong>impactantes</strong>, et centrées sur les <strong>individus</strong> ; des actions qui atteignent leurs objectifs et apportent du <strong>changement</strong>.
      div.presentation
        .row
          div.cell
            p La dernière décennie a consacré l’utilisation d’Internet et des réseaux sociaux comme une nouvelle façon d’interagir au sein de la <strong>société</strong>.
            p Il s’agit aujourd’hui d’aller plus loin.
            p Utiliser les nouvelles technologies, l'open data, le big data, pour permettre à sa <strong>cause</strong>, à sa <strong>campagne</strong>, à son <strong>action</strong> ou sa <strong>décision</strong> de s’adapter en temps réel au monde qui l’entoure.
          div.cell.mockup
            img(src="images/mockup.png")
      div.darken
        h3
          span.line
            span Nos 
            span.color activités
            div
        ul.flex-boxes
          li.flex-box
            h4
              span.icon
                i.flaticon.flaticon-round86
              span.name Data &amp; Analytics
            p
              em Data collection et Data intelligence.
            p Nous donnons du sens aux données en utilisant le pouvoir analytique et logistique des nouvelles technologies pour aider nos partenaires à être plus efficaces avec leurs ressources et leur temps.
          li.flex-box
            h4
              span.icon
                i.flaticon.flaticon-dot13
              span.name Communication
            p
              em Gestion de la relation et de la proximité.
            p Nous aidons nos partenaires à rencontrer les individus là où ils se trouvent, que ce soit sur le terrain, lors d’un événement, par email, SMS, téléphone ou sur les réseaux sociaux.
          li.flex-box
            h4
              span.icon
                i.flaticon.flaticon-loading3
              span.name Pilotage
            p
              em Digital. Rapports et Analyses.
            p Nous développons des programmes innovants et engageants pour aider nos partenaires à piloter leurs actions en ligne et sur le terrain, à toutes les échelles.
    section#help
      h3
        span.line
          span Nous 
          span.color accompagnons
          div
      ul
        li
          a(href="mailto:infos@quorumapps.com")
            span.icon
              i.flaticon-town
            span.name Collectivités territoriales
        li
          a(href="mailto:infos@quorumapps.com")
            span.icon
              i.flaticon-society
            span.name ONG &amp; Associations
        li
          a(href="mailto:infos@quorumapps.com")
            span.icon
              i.flaticon-vote2
            span.name Candidats aux élections
        li
          a(href="mailto:infos@quorumapps.com")
            span.icon
              i.flaticon-megaphone17
            span.name Leaders d'influence
    section#tools
      div.overlay
        h3
          span.line
            span Des outils 
            span.color opérationnels
            div
        p Nous fournissons des applications web et mobile intuitives, qui avec le support permanent de notre équipe, vous permettent d'améliorer votre impact.
        div.row
          li
            div.icon
              i.flaticon-touchpad
            div.content
              h4 Outils intuitifs
              p Prise en main rapide. Pas de longue session de formation.
          li
            div.icon
              i.flaticon-meeting3
            div.content
              h4 Stratégies adaptées
              p Partir des usages. Comprendre la dynamique d’un territoire.
        div.row
          li
            div.icon
              i.flaticon-human66
            div.content
              h4 Renforcer son organisation
              p Allouer les bonnes ressources au bon endroit, au bon moment. Plus de perte de temps, pas de perte de ressources.
          li
            div.icon
              i.flaticon-data2
            div.content
              h4 Remonter l'information
              p Remonter l'information du terrain. Qualifier sa base de données. Mieux comprendre les préoccupations et identifier les tendances.
        div.row
          li
            div.icon
              i.flaticon-human
            div.content
              h4 Créer du lien
              p Utiliser des programmes innovants qui engagent. Changer sa façon d’interagir avec le public. Communiquer de façon individualisée.
          li
            div.icon
              i.flaticon-increasing10
            div.content
              h4 Impact mesuré
              p Suivre l’avancement et l’impact de ses actions. Réagir. S'adapter.
      div.background
    section#lab
      h3
        span.line
          span Data 
          span.color Lab
          div
      p.center S'adapter aux évolutions et aux grands mouvements de la société.
      p.center
        a.button(href="#")
          i.fa.fa-fw.fa-bookmark-o
          span Visitez notre blog
      .grid-items
        a.isoloir.grid-item(href='javascript:void(0)')
          div.darken
          div.over
            div
              //- img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png', alt='')
              i.fa.fa-fw.fa-map-marker
              h1 Élections départementales 2015
          div.overlay
            h2 Élections départementales 2015
            p Adapter sa stratégie, piloter ses actions de terrain, mesurer le niveau de soutien et l’impact de son action, Quorum a cartographié des cantons en Gironde à l’échelle du Bureau de Vote pour accompagner les candidats jusqu’à la victoire.
        a.mailbox.grid-item(href='javascript:void(0)')
          div.darken
          div.over
            div
              //- img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png', alt='')
              i.fa.fa-fw.fa-line-chart
              h1 Lutter contre la mal-inscription sur les listes électorales
          div.overlay
            h2 Lutter contre la non-inscription et la mal-inscription sur les listes électorales
            p Mal inscription, non inscription, gestion de la liste électorale ; Quorum accompagne les collectivités territoriales pour lutter contre ce phénomène qui concerne près de 10 millions de Français ; et ainsi faciliter la gestion des enjeux démocratiques, démographiques et logistiques auxquels doit faire face une collectivité.
        a.data.grid-item(href='javascript:void(0)')
          div.darken
          div.over
            div
              //- img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png', alt='')
              i.fa.fa-fw.fa-database
              h1 Mastering Data on Twitter
          div.overlay
            h2 Mastering Data on Twitter
            p Mastering Data on Twitter est un outil analytique développé par Jules Goullée qui permet d’analyser en temps réel à partir d’un mot clé l’évolution et les mots associés sur Twitter.
    section#team
      h3
        span.line
          span Notre 
          span.color équipe
          div
      p Développeurs, politologues, data analystes, UX designer, avocats spécialisés en droit des collectivités et référent CNIL.
      div.columns
        div
          p Idées. Étude personnalisée. Nous rejoindre.
          p.social
            a(href="mailto:infos@quorumapps.com")
              i.fa.fa-fw.fa-envelope-o
        div.links
          p Suivez-nous sur les réseaux sociaux.
          p.social
            a(href="//facebook.com/pages/Quorum/691793700953234")
              i.flaticon-facebook51
            a(href="//twitter.com/quorumapps")
              i.flaticon-twitter44
            a(href="//www.linkedin.com/company/10114882")
              i.flaticon-social123
            a(href="//google.com/+Quorumappsdata")
              i.flaticon-google115
      .subscribe
        p.center Inscrivez-vous pour recevoir notre veille et nos articles :
        div
          input(type='text' placeholder='Email')
          a(href="#")
            i.fa.fa-fw.fa-pencil
            span S'inscrire
    footer#footer
      //- canvas(id="demo-canvas" class="hidden-xs" width="1350" height="600")
      .wrap
        div.left
          h3
            img(src="images/quorum.png" height='38px')
          div
            p En utilisant les technologies de Quorum, vous contribuez à optimiser vos actions et vos ressources pour être plus impactant et créer un nouveau lien avec votre public.
            p De meilleures technologies pour de meilleures actions.
          div.input
            input(type='button' value='Demander une étude personalisée')
          div.copyright @ Copyright 2015
        div.sitemap
          h3 Plan du site
          ul
            li
              a(href="#") Mentions légales
            li
              a(href="#") Notre logo
            li
              a(href="#home") Accueil
            li
              a(href="#approach") Activités
            li
              a(href="#lab") Lab
            li
              a(href="#team") Équipe
            li
              a(href='mailto:info@quorumapps.com') Tarifs
            li
              a(href="#") Blog
            li
              a(href="#") Contact
        div.right
          h3 Nous trouver
          div
            p Quorum a choisi le français <a href="//cloudwat.com">Cloudwatt</a>, producteur souverain d’energie numérique.
            ul.addresses
              li
                a(href="mailo:info@quorumapps.con") info@quorumapps.com
              .sep
              li
                span 9 rue de Condé
                br
                span 33000 Bordeaux
              .sep
              li
                span 124 avenue de Villiers
                br
                span 75017 Paris

    //- script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    //- script(src='javascripts/TweenMax.js')
    //- script(src='http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js')
    //- script(src='javascripts/plugins/animation.gsap.js')
    //- script(src='http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js')
    //- script(src='javascripts/typed.min.js')
    //- script(src='javascripts/particles.min.js')
    //- script(src='javascripts/app.js')
