doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Quorum
    meta(name='description' content='Quorum')
    meta(name='keywords' content='quorum')
    meta(name='author' content='Douézan-Grard Guillaume - Quorum')
    link(rel="icon", type="image/png", href="images/icons/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="images/icons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="images/icons/favicon-16x16.png", sizes="16x16")
    link(rel='stylesheet' href='stylesheets/app.css')
  body
    nav#nav
      .container
        h1.nav-brand
          a(href='//quorumapps.com')
            img(src='images/quorum-logo.png' alt='Quorum')
        .nav-toggle
          a(href='#')
            i.fa.fa-fw.fa-bars
        .nav-links
          ul.main-links
            li
              a(href='#home') Home
            li
              a(href='#who-are-we') About us
            li
              a(href='#lab') Lab
            li
              a(href='#team') Team
            li
              a(href='//blog.quorumapps.com') Blog
          ul.social-links
            li
              a(href='//facebook.com/pages/Quorum/691793700953234')
                i.icon-facebook
            li
              a(href='//twitter.com/quorumapps')
                i.icon-twitter
            li
              a(href='//www.linkedin.com/company/10114882')
                i.icon-linkedin
            li
              a(href='mailto:info@quorumapps.com')
                i.fa.fa-fw.fa-envelope-o
    header#home
      .container
        ul#slide
          li(data-delay="100" data-speed="300") #[em Build] a movement
          li(data-delay="1500" data-speed="300") #Campaign [em smarter]
          li(data-delay="400" data-speed="250") #[em Deliver] ROI
          li(data-delay="100" data-speed="250") #[em Empower] your future
          li(data-delay="700" data-speed="300") with #[em Quorum]
    main#main
      section#who-are-we
        .container
          header
            h3
              span Who #[em we are ?]
            p We provide #[strong technology features ] to help our clients to build  #[meaningful], #[people-centered], and #[data driven] actions, that achieve their strategic goals and make a #[change].
          .content
            .description
              p We rely on data to drive decisions and constantly look for new ways to #[solve problems].
              p We design apps based on the latest research in politial and Data Science and the opportunities offered by Open Data, Big Data, and new technologies. 
              p Smart campaigns, smart actions and causes will be the ones who embrace new technology, make it a priority to stay ahead of the curve.
              p 
            .mockup
              img(src='images/mockup.png' alt='Product mockup')
      section#activities
        .container
          header
            h3
              span Our #[em Capabilities]
          ul.content
            li
              header
                h4 Data &amp; Analytics
                .icon
                  i.icon-data
              .description
                p
                  em Data Collection & Data Intelligence.

                p We use Data, take the analytical and logistical power of new technologies and makes it scale for anyone.
            li
              header
                h4 Communication
                .icon
                  i.icon-dots
              .description
                p
                  em Relationship Management.
                p Our approach is to meet people where they are, and connect them with the right information and tools to take action, whether that's online, at an event, in an ad, or at a doorstep.
            li
              header
                h4 Digital
                .icon
                  i.icon-loading
              .description
                p
                  em Digital. Rapports et Analyses.
                p We design our apps to be intuitive and engaging to help you to drive your actions both online and offline.
      section#we-follow
        .container
          header
            h3
              span Our #[em clients]
          ul.content
            li
              a(href='mailto:info@quorumapps.com')
                .icon
                  i.icon-town
                h4 Public Administration
            li
              a(href='mailto:info@quorumapps.com')
                .icon
                  i.icon-society
                h4 ONG &amp; Nonprofits
            li
              a(href='mailto:info@quorumapps.com')
                .icon
                  i.icon-vote
                h4 Politics
            li
              a(href='mailto:info@quorumapps.com')
                .icon
                  i.icon-megaphone
                h4 Advocacy
      section#tools
        .background
        .overlay
          .container
            header
              h3
                span Spread #[em the best practices]
              p The magic happens when people know their role, get the vision and process and then have the freedom to get creative.
            ul.content
              .row
                li
                  .icon
                    i.icon-touch-pad
                  .description
                    h4 Intuitive tools
                    p User-friendly apps. No need for lengthy training sessions. Time saved apps is time better spent engaging people.
                li
                  .icon
                    i.icon-meeting
                  .description
                    h4 Adaptive Strategies
                    p Visualize key characteristics. Public sentiment Measurment. Identify swing zones. Make territoritories and Data speak. 
              .row
                li
                  .icon
                    i.icon-human66
                  .description
                    h4 Empower your action
                    p Connect people with the right information and tools.
                li
                  .icon
                    i.icon-data
                  .description
                    h4 Plan effective fied actions
                    p Target priority areas and track in real time your progress. Smart Canvassing. 
                li
                  .icon
                    i.icon-human
                  .description
                    h4 Build Meaningful relationship
                    p Keep a record of every online and offline interaction with your contact base, to manage and qualify it.  Develop a long-term relationship of trust with people.
                li
                  .icon
                    i.icon-increasing
                  .description
                    h4 Live Tracking 
                    p Monitor Progress. Motivate the team. Get Stronger
      section#lab
        .container
          header
            h3
              span Living #[em Lab]
            p Data, algorithms and new technologies create exciting opportunities. We work everyday to create tools that can help to build a movement, trackle decisions or solve problems.
            p
              a.button(href='#')
                i.fa.fa-fw.fa-bookmark-o
                span Our Blog
          ul.content
            li.isoloir
              a(href='#')
                header
                  .icon
                    i.fa.fa-fw.fa-map-marker
                  h4 French Election 2015
                p.description Departementales 2015 & Régionales 2015.
            li.mailbox
              a(href='#')
                header
                  .icon
                    i.fa.fa-fw.fa-line-chart
                  h4 Vote Registration
                p.description We work with Public Administration to fight for Vote Registration.
            li.network
              a(href='#')
                header
                  .icon
                    i.fa.fa-fw.fa-database
                  h4 Mastering Data on Twitter
                p.description Mastering Data on Twitter is an analytical tool fot twitter.
      section#team
        .container
          header
            h3
              span Our #[em team]
            p Developpers, campaigners, data analysts, UX/UI designer, legal expert; we believe better actions start with better tools. 
          .content
            .contact
              h4 We'd like to hear from you ! Get in touch.
              p
                a(href='mailto:info@quorumapps.com')
                  i.fa.fa-fw.fa-envelope-o
            .social
              h4 Follow us.
              p
                a(href='//facebook.com/pages/Quorum/691793700953234')
                  i.icon-facebook
                a(href='//twitter.com/quorumapps')
                  i.icon-twitter
                a(href='//www.linkedin.com/company/10114882')
                  i.icon-linkedin
                a(href='//google.com/+Quorumappsdata')
                  i.icon-google
          .subscribe
            h4 Get updates :
            .form
              .form-submit
                a.button(href='#')
                  i.fa.fa-fw.fa-pencil
                  span Subscribe
              .form-input
                input(type='text' placeholder='Email')
    footer#footer
      .container
        .general
          h3
            img(src='images/quorumapps.png' alt='Quorum')
          .about
            p By using Quorum apps, you empower your organization, build and galvanize people, take smarter actions. We're here to help you do great things !
            p #Data for big ideas.
          .ask-study
            a.button(href='mailto:info@quorumapps.com') Get in touch
          .copyright &copy; Copyright 2015
        .sitemap
          h3 Website
          ul
            li
              a(href='/mentions-legales.pdf' target='_blank') Website notice
            li
              a(href='#') Our Logo
            li
              a(href='#home') Home
            li
              a(href='#who-are-we') Approach
            li
              a(href='#lab') Lab
            li
              a(href='#team') Team
            li
              a(href='mailto:info@quorumapps.com') Pricing
            li
              a(href='//blog.quorumapps.com') Blog
            li
              a(href='mailto:info@quorumapps.com') Contact
        .find-us
          h3 Where we are
          .details
            p Quorum use Cloudwatt <a href='//cloudwatt.com'>Cloudwatt</a>, cloud computing made in Europe.
            ul.addresses
              li
                a(href='mailto:info@quorumapps.com') info@quorumapps.com
              li
                span 9 rue de Condé
                br
                span 33000 Bordeaux
              li
                span 124 avenue de Villiers
                br
                span 75017 Paris
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='javascripts/TweenMax.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js')
    script(src='javascripts/plugins/animation.gsap.js')
    script(src='javascripts/particles.min.js')
    script(src='javascripts/app.js')
