doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Team - Quorum
    meta(name='description' content='Quorum')
    meta(name='keywords' content='quorum')
    meta(name='author' content='Douézan-Grard Guillaume - Quorum')
    link(rel="icon", type="image/png", href="images/icons/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="images/icons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="images/icons/favicon-16x16.png", sizes="16x16")
    link(rel='stylesheet' href='stylesheets/app.css')
  body.fr
    include includes/nav.jade
    header#page
      .container(lang="fr")
        ul
          li La Data Agency
          hr
        .quote
          p Nous croyons en la connexion des intelligences, des savoirs et des experiences.
      .container(lang="en")
        ul
          li The Data Agency
          hr
        .quote
          p We believe in collective intelligence. we are assembling a team of passionate, creative people that strive to apply cutting edge research to real-world problems.
    main
      section#team
        .container(lang="fr")
          .content
            .team-member
              .icon-job
                img(src='images/team/user.png')
              .job-description
                span.job-title Data Analysts & Data Scientists
                p.job-details Collecter les données, les nettoyer, en tirer l’intelligence.
            .team-member
              .icon-job
                img(src='images/team/user.png')
              .job-description
                span.job-title Sciences Sociales/Cognitives
                p.job-details Recherche en Sciences sociales, politiques et sciences cognitive, etude de terrain.
            .team-member
              .icon-job
                img(src='images/team/user.png')
              .job-description
                span.job-title Developpeurs
                p.job-details Rendre disponible nos recherches dans des interfaces intuitives, accessibles et prêtes à l’action concrete.
            .team-member
              .icon-job
                img(src='images/team/user.png')
              .job-description
                span.job-title Communication
                p.job-details Communiquer sur ce que la technologie est aujourd’hui capable de faire pour améliorer la société.
            .team-member
              .icon-job
                img(src='images/team/user.png')
              .job-description
                span.job-title Juridique
                p.job-details Protéger  les données personnelles et données sensibles. Pour toute question juridique : cil@quorumimpact.com
        .container(lang="en")
          .content
      section#cta.page
        .container(lang="fr")
          .content
            a.cta(href='//blog.quorumapps.com')
              span Notre blog
        .container(lang="en")
          .content
            a.cta(href='//blog.quorumapps.com')
              span Our blog
    include includes/footer.jade
    include includes/js.jade